.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f353f;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

li a:hover {
    color: gray;
}

body {
    background-image: linear-gradient(to right, #B993D6, #8CA6DB);
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    margin: 1em 0;
    padding: 0;
}

p {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 300%;
}

h2 {
    font-family: 'PT Sans', sans-serif;
}

.info {
    margin: 20px 300px 20px 300px
}