.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f353f;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

li a:hover {
    color: gray;
}

.inspiration {
    display: block;
    margin: auto;
    border-style: ridge;
    box-shadow: 3px 3px 2px #333;
    border-radius: 10px;
    height: 400px;
    width: 275px;
}

.caption {
    text-align: center;
    font-size: 75%;
}

body {
    background-image: linear-gradient(to right, #FFEEEE, #DDEFBB);
    margin: 0;
    padding: 0;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1.5px 0;
    border-radius: 20px;
}

p {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 125%;
}

h1 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 300%;
}

.info {
    margin: 5% 20% 5% 20%
}