.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    opacity: 0.7;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

li a:hover {
    color: gray;
}

.header {
    font-family: 'PT Sans', sans-serif;
    font-size: 500%;
    color: white;
    text-align: center;
    margin: 200px 10px 25px 25px
}

body {
    background-image: url("abstract-background-02 copy.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    margin: 1em 0;
    padding: 0;
}

p {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 150%;
    color: white;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    color: white;
    padding-left: 3px;
}

.media {
    position: relative;
    display: block;
    font-size: 36px;
    margin-left: 45%;
    margin-right: auto;
    margin-top: 10%;
}

.media a {
    color: white;
    margin-right: 1%;
}

.media a:hover {
    color: gray;
}