.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f353f;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

li a:hover {
    color: gray;
}

body {
    background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ddd6f3, black, #faaca8);
    background-image: -moz-linear-gradient(left, #ddd6f3, black, #faaca8);
    background-image: -ms-linear-gradient(left, #ddd6f3, black, #faaca8);
    background-image: -o-linear-gradient(left, #ddd6f3, black, #faaca8);
}

p {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 300%;
}

h2 {
    font-family: 'PT Sans', sans-serif;
}

.link {
    text-decoration: none;
    color: blue;
}

.link:hover {
    text-decoration: underline;
}

.info {
    margin: 0 15% 5% 15%
}