.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f353f;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

li a:hover {
    color: gray;
}

body {
    background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    margin: 0;
    padding: 0;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1.5px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1.5px 0;
    border-radius: 20px;
}

p {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 300%;
}

h2 {
    font-family: 'PT Sans', sans-serif;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.info {
    margin: 0 15% 5% 15%
}